*{
    margin: 0;
    padding: 0;
}
 /* banner-section-styles */
.banner-section{
    max-width: 1200px;
    border: 2px solid salmon;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container ul {
    display: flex;
}
.nav-container ul li{
    list-style: none;
}
.nav-container li a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
    font-size: 20px;
    font-weight: 500px;
}
.nav-img{
    display: flex;
    /* border: 2px solid green; */
    width: 50%;
    align-items: center;
    font-size: 30px;
}
